/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


/* Scoped to .no-arrow class */
.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrow {
  -moz-appearance: textfield;
}

/* .popup-content {
  padding: 25px;
  background: #fff;
  width: 25% !important;
  border-radius: 12px;
  min-width: 300px;
  text-align: center;
  position: relative;
  border: none !important;
}

.popup-content .close {
  position: absolute;
  top: 0px;
  right: -31px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
 */
